body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select
{
    padding: 0px; margin: 0px; font-family: arial;}
    li{list-style: none;}
    a{text-decoration: none;}

.top {
    width:100%;
    height: 57px;
    position: relative;  
    border-bottom: 1px solid #e7e7e7; 
}
.top li{
    list-style: none;
    float: left;
    padding-left: 13px;
    padding-top: 16px;
    line-height: 24px;
    font-size: 14px;
    position: relative;
    left: 34px;
}
.top a {
    text-decoration: none;
    color: black;
}
.top a:hover{
    color: #02baed;
}
.top .bili {
    width: 86px;
    height: 46px;
    position: absolute;
    top:5px;
    left:15px;
}
.phone {
    height: 25px;
    width: 20px;
}
.main li {
    position: relative;
    left: 98px;
}
.search {
    position: relative;
    left: 104px;
    top:12px;
    width: 320px;
    height:33px ;
    border-radius: 2px;
    border:none;
    color: #757575;
    border:1px solid #e7e7e7;
    background-color: #f4f4f4;
    line-height: 26px;
    font-size: 15px;
    padding-left: 18px;
    outline: none;
}
.search_img {
    width: 46px;
    height: 35px;
    position: absolute;
    top: 12px;
    left: 886px;
    border-radius: 0 2px 2px 0;
}
.enter {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: -33px;
    cursor: pointer;
}
.quit {
    display: none;
    width: 280px;
    height: 600px;
    position: absolute;
    left: -180px;
    top: 50px;
    z-index: 9999;
    background-color: white;
    border-radius: 2px;
    border:1px solid rgb(238, 237, 237);   
}
.quit_img {
    height: 76px;
    width: 76px;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: -45px;

}
.q_name {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 40px;
    left: 48%;
}
.class {
    color: #000;
    position: relative;
    top: 54px;
    left: 14px;
}
.class_ {
    color: #757575;
    position: relative;
    left: 174px;
    top: 30px;
}
.quit progress {
    width: 250px;
    height: 2px;
    position: relative;
    left: 14px;
    top: 20px;
}
.quit a {
    color: #000;
}
.q1 {
    position: relative;
    top: 57px;
    left: -240px;
    width: 20px;
    height: 20px;
}
.q1_ {
    position: relative;
    top: 24px;
    left: 40px;
}
.q2{
    position: relative;
    top: 30px;
    left: 50px;
    width: 20px;
    height: 20px;
}
.q2_ {
    position: relative;
    top: 24px;
    left: 50px;
}
.q1_:hover,.q2_:hover {
    color: #2fb2de;
}
.q3 {
    position: relative;
    top: 30px;
    width: 20px;
    height: 20px;
    left: 140px;
}
.q4 {    
    position: relative;
    top: 30px;
    left: 146px;
    width: 20px;
    height: 20px;
}
.q_line1 {
    width: 280px;
    position: relative;
    top: 20px;
}
.q_ul1 {
    width: 280px;
}
.q_ul1 li{
    width: 73px;
}
.q_ul1 a {
    color: #757575;
}
.q_ul1 a:hover {
    color: #2fb2de;
}
.q_ul1 li p:hover {
    color: #2fb2de;
}
.q_ul1 li p {
    color: #000;
    font-weight: bold;
}
.q_line2 {
    width: 280px;
    position: relative;
    top: -10px;
}
.q_ul2 {
    width: 280px;
}
.q_ul2 img {
    height: 20px;
    width: 20px;
}
.q_ul2 li {
    width: 230px;
    position: relative;
    top: -20px;
}
.q_ul2 span {
    position: relative;
    top: -5px;
    left: 10px;
}
.q_ul2 li:hover {
    background-color: #e5e9ef;
}
.q_line3 {
    width: 280px;
    position: relative;
    top: -25px;
}
.lan_img1 {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 14px;
    left: -15px;
    z-index: 9999;
}
.lan_li1 {
    float: left;
    position: relative;
    top: -20px;
    cursor: pointer;
    width: 200px;
}
.q_ul3 li {
    color: #000;
    position: relative;
    left: 60px;
    top: -30px;
}
.lan_li1:hover {
    background-color: rgb(235, 235, 235);
}
.lan {
    display: none;
    width: 238px;
    height: 80px;
    position: absolute;
    left: 210px;
    top: -5px;
    background-color: white;
    border-radius: 2px;
    border:1px solid rgb(238, 237, 237);
}
.lan ul {
    width: 230px;
}
.lan li {
    width: 220px;
    position: relative;
    top: -4px;
    left: 0px;
}
.lan li:hover {
    background-color:  rgb(235, 235, 235);
}
.lan a {
    color: black;
}
.lan a:hover {
    color: black;
    background-color: rgb(235, 235, 235);
}
.q_ul3 li:hover .lan {
    display: block;
}
.q_line4 {
    width: 280px;
    position: relative;
    top: -30px;
}
.exit img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 558px;
    left: 48px;
}
.exit span {
    width: 100px;
    position: absolute;
    left: 78px;
    top:557px;
}
.exit span:hover {
    background-color: #e5e9ef;
    width: 200px;
    height: 30px;
}

.per li:hover .quit {
    display: block;
}
.per {
    float:right;
    position: absolute;
    top:3px;
    left: 960px;
}
.btn {
    width: 92px;
    height: 35px;
    background-color: #fb7299;
    color: white;
    border: none;
    border-radius: 2px;
    position: relative;
    top: -5px;
    font-size: 14px;
    outline: none;
}






.content_l {
    float: left;
    width: 674px;
    height: 1100px;
    position: relative;
    left: 190px;
}
.cl_tit {
    position: relative;
    top: 20px;
    font-size: 18px;
}
.block {
    position: relative;
    top: 30px;
    font-size: 12px;
    color: #868686;
}
.block:hover {
    color: #2fb2de;
}
.rank {
    position: relative;
    top: 14px;
    left: 115px;
    font-size: 12px;
    color: #868686;
}
.data {
    font-size: 12px;
    color: #868686;
    position: relative;
    top: 20px;
}
.forbid {
    position: relative;
    top: 3px;
    left: 135px;
    width: 18px;
    height: 18px;
}
.self {
    font-size: 12px;
    color: #868686;
    position: relative;
    top: -18px;
    left: 156px;
}
.player{
    width: 674px;
    height: 400px;
    text-align: center;
    position: relative;
    left: -40px;
    top: -20px;
}
.player video{
    height: 100%;
    width: 674px;
    margin: 0 auto;
    display: block;
}
.controls{
    width: 674px;
    height: 40px;
    background-color:black;
    position: absolute;
    bottom: -22px;
    left: 0px;
}
.controls .switch{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    bottom: 8px;
    text-align: center;
    line-height: 20px;
}
.controls .switch img{
    width: 16px;
    height: 16px;
}
.controls .progress{
    width: 710px;
    height: 2px;
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    left: 0px;
    bottom:40px;
    overflow: hidden;
}
.curr-progress{
    width: 30%;
    height: 10px;
    background-color: #fff;
}
.time{
    width: 120px;
    height: 20px;
    position: absolute;
    left: 40px;
    bottom: 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color:white;
}
.extend{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    bottom: 12px;
    line-height: 18px;
    cursor: pointer;
}
.yjsl {
    position: relative;
}
.yjsl li {
    float: left;
    padding-right: 54px;
}
.yjsl img {
    width: 28px;
    height: 28px;
}
.yjsl span {
    position: relative;
    top: -10px;
    left: 5px;
}
.yjsl a:hover,.yjsl_:hover {
    color: #2fb2de;
}
.yjsl_ {
    font-size: 12px;
    color: #000;
    position: relative;
    top: 2px;
    left: 180px;
}
.yjsl_line1 {
    width: 674px;
    position: relative;
}
.com li {
    float: left;
    padding-right: 40px;
}
.com a {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    top: 20px;
}
.com a:hover {
    color: #2fb2de;
}
.yjsl_line2 {
    position: relative;
    width: 674px;
    position: relative;
    top: 20px;
}
.head_img {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 10px;
}
.com_ {
    background-color: #f1f2f3;
    border: 1px solid #e5e9ef;
    position: relative;
    left: 70px;
    top: -20px;
    width: 510px;
    height: 70px;
    font-size: 12px;
    color: #868686;
    padding-left: 10px;
}
.com_btn {
    color: white;
    height: 70px;
    width: 70px;
    background-color: #25a8d4;
    border: none;
    border-radius: 5px;
    position: relative;
    top: -92px;
    left: 600px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
.yjsl_line3 {
    width: 600px;
    position: relative;
    top: -70px;
    left: 70px;
}
.head_img1 {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    position: relative;
    right: 595px;
}
.com_id {
    color: #fb7299;
    position: absolute;
    right: 535px;
    top: 890px;
    font-size: 13px;
}
.com_id img {
    width: 20px;
    height: 12px;
    padding-left: 10px;
}
.com_p {
    font-size: 13px;
    position: relative;
    top: -30px;
    left: 82px;
}
.com_time {
    font-size: 12px;
    color: #868686;
    position: relative;
    top: -24px;
    left: 82px;
}
.com_btn2 {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    top: -58px;
    left: 202px;
    padding-right: 30px;
    font-size: 12px;
    color: #868686;
} 
.com_btn2:hover {
       color: #2fb2de;
}
.com_ud {
    width: 12px;
    height: 12px;
    position: relative;
    top: 3px;
    left: -5px;
}
.head_img2 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    right: 95px;
}
.com_id2 {
    color: #fb7299;
    position: relative;
    left: -90px;
    top: -10px;
    font-size: 13px;
}
.com_id2 img {
    width: 20px;
    height: 12px;
    padding-left: 10px;
}
.com_p2 {
    font-size: 13px;
    position: relative;
    top: -30px;
    left: 190px;
}
.com_btn3 {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    top: -38px;
    left: 202px;
    padding-right: 30px;
    font-size: 12px;
    color: #868686;
} 
.com_btn3:hover {
       color: #2fb2de;
}
.com_time1 {
    font-size: 12px;
    color: #868686;
    position: relative;
    top: -18px;
    left: 82px;
}
.yjsl_line4 {
    width: 600px;
    position: relative;
    top: -20px;
    left: 70px;
}


.content_r {
    float: left;
    width: 320px;
    height: 1100px;
    position: relative;
    left: 220px;
}
.headimg {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    position: relative;
    top: 20px;
}
.conid {
    color: #fb7299;
    position: relative;
    font-size: 13px;
    top: -10px;
    left: 20px;
}
.conid img {
    width: 20px;
    height: 12px;
    padding-left: 10px;
}
.con_p {
    font-size: 13px;
    color: #868686;
    position: relative;
    top: -7px;
    left: 70px;
}
.con_btn1 {
    width: 92px;
    height: 35px;
    background-color: white;
    color: #fb7299;
    border: 1px solid #fb7299;
    border-radius: 2px;
    position: relative;
    left: 70px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
.con_btn1:hover {
    background-color: #fb7299;
    color: #fff;
}
.con_btn2 {
    width: 142px;
    height: 35px;
    background-color: #25a8d4;
    color: white;
    border: 1px solid #25a8d4;
    border-radius: 2px;
    position: relative;
    left: 70px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
.con_btn2:hover {
    background-color: #02baed;
}
.con_btn3 {
    width: 308px;
    height: 45px;
    background-color: #e5e9ef;
    color: #868686;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    position: relative;
    top: 30px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.con_p2 {
    position: relative;
    top: 50px;
    font-size: 16px;
}
.rel {
    width: 155px;
    height: 95px;
    position: relative;
    top: 70px;
}
.rel_a {
    color: #000;
    position: relative;
    top: -10px;
    left: 5px;
    font-size: 14px;
}
.rel_a:hover {
    color: #25a8d4;
}
.rel_p {
    color: #868686;
    font-size: 12px;
    position: relative;
    left: 165px;
    top: 34px;
}